@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container-fluid"  style="padding-bottom: 6rem; padding: 0rem 7rem;">
    <h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to reset your password.
    </p>
</div>

