@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container-fluid" style="padding-bottom: 5rem;">
    <div class="row" style="margin:0rem 13rem; justify-content:end;">
        <div class="col-5" style="padding: 80px;border: 2px solid;margin-left: 0px;background-color: #efefef;">
            <div class="form-group">
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12">
                            <div style="width:300px;">
                                <img src="~/Images/logo.png" />
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-12">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-12">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-12">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-block">Log in</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-6" style="padding:0rem;">
            <div style="width:430px;">
                <img src="~/Images/loginimg.png" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
