@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container-fluid">
    <div class="registerCont">
        <div class="row row-cols row-cols-lg g-3 g-lg-3 registerrow">
            <div class="col registercol">
                <div class="form-group">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="registerlogo">
                            <img src="/Images/logo.png">
                        </div>
                       <div class="row row-cols row-cols-lg g-3 g-lg-3">
                            <div class="col-md-6">
                                <label>Name</label>
                                <input asp-for="Input.Fullname" class="form-control" />
                                <span asp-validation-for="Input.Fullname" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Input.Contact"></label>
                                <input asp-for="Input.Contact" class="form-control" />
                                <span asp-validation-for="Input.Contact" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Input.Dob"></label>
                                <input asp-for="Input.Dob" class="form-control" />
                                <span asp-validation-for="Input.Dob" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Input.State.StateName" class="control-label"></label>
                                <select asp-for="Input.State.StateID" class="form-control"
                                        asp-items="@(new SelectList(@Model.States, "StateID", "StateName"))">
                                </select>
                                <span asp-validation-for="Input.State.StateName" class="text-danger"></span>
                            </div>
                            <div class="col d-grid gap-2">
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col registerimagecol">
                <div class="registerimage">
                    <img src="/Images/loginimg.png">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
