@using AceSmokeShop.ViewModel
@model EditVendorOrderViewModel

@{
    ViewData["Title"] = "MArk as Paid";
    Layout = null;
}

<div class="modal fade" tabindex="-1" role="dialog" id="markaspaid">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="markaspaidlbl">Mark As Paid</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true" style="border:none; outline:none">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="MarkAsPaid" method="post" autocomplete="off">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                    <input type="hidden" asp-for="@Model.CustOrderId" />
                    <div class="form-group">
                        <div class="row row-cols row-cols-lg g-3 g-lg-3">
                            <div class="col-md">
                                <div class="product-quantity">
                                    <div>
                                        <h5>Are you sure?</h5>
                                        <h7>This order will be marked as PAID AT STORE.</h7>                              
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-save="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
    </script>
}

