@using AceSmokeShop.ViewModel
@model AdminUserOrderViewModel

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<string> months = new List<string>{ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec" };
}

<div id="placeholder"></div>
<div class="container" style="padding-bottom:6rem;">
    <div class="mt-4">
        <h5 style="font-size:2rem;font-weight: 700; font-family: emoji; letter-spacing: -2px;">Orders</h5>
        <hr/>
    </div>

    <div class="mt-3">
        <div class="row mt-3 row-cols-3 row-cols-lg-3 gy-5 g-lg-4">
            <div class="accordion">
                @foreach (var item in Model.userOrdersList)
                {
                    <div class="accordion-item">
                        <div class="accordion-item-header" id="@item.CustOrderId">
                            <div class="row" style="padding:1rem 1rem; width: 100%;">
                                <div class="col-2">
                                    <Label style="font-size: 13px;font-weight: 500;"><b>Order #@item.CustOrderId</b></Label>
                                </div>
                                <div class="col-2">
                                    <Label style="font-size: 13px;font-weight: 500;"><b>Ordered @item.CreateDate.Day-@months[@item.CreateDate.Month -1]-@item.CreateDate.Year</b></Label>
                                </div>
                                <div class="col-2">
                                    <Label style="font-size: 13px;font-weight: 500;"><b>@item.OrderStatus.ToUpper()</b></Label>
                                </div>
                                <div class="col-2">
                                    <a style="color:#cdb36c; font-size: 13px;font-weight: 500;"><b>Create Refund</b></a>
                                </div>
                                <div class="col-2">
                                    <a style="color:#cdb36c;font-size: 13px;font-weight: 500;"><b>Order Cancellation Request</b></a>
                                </div> 
                            </div>
                        </div>
                        <div class="accordion-item-body">
                            <div class="accordion-item-body-content">
                                <div class="container" style="margin:1rem">
                                    @* Insert Img here *@
                                    @if(item.OrderStatus.ToLower().Equals("order placed")){
                                        <div class="row" style="width:100%;">
                                            <img src="~/Images/Status1.png" class="d-block w-100" alt="Img">
                                        </div>
                                    }
                                    @if(item.OrderStatus.ToLower().Equals("order packaging")){
                                        <div class="row" style="width:100%;">
                                            <img src="~/Images/Status2.png" class="d-block w-100" alt="Img">
                                        </div>
                                    }
                                    @if(item.OrderStatus.ToLower().Equals("order dispatched")){
                                        <div class="row" style="width:100%;">
                                            <img src="~/Images/Status3.png" class="d-block w-100" alt="Img">
                                        </div>
                                    }
                                    @if(item.OrderStatus.ToLower().Equals("delivered")){
                                        <div class="row" style="width:100%;">
                                            <img src="~/Images/Status4.png" class="d-block w-100" alt="Img">
                                        </div>
                                    }
                                    @* Insert Shipping Address here *@
                                    <div id="userorders-@item.CustOrderId">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
    </script>
}