@using AceSmokeShop.ViewModel
@model EditUserViewModel

@{
    ViewData["Title"] = "Edit User";
    Layout = null;
}
<div class="modal fade" tabindex="-1" role="dialog" id="editUser">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserlbl">Edit User</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true" style="border:none; outline:none">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="EditUserAccount" autocomplete="off">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                    <input type="hidden" asp-for=@Model.UserEmail />
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label asp-for="@Model.UserRole"></label>
                                <select asp-for=@Model.UserRole id="userRoles" class="form-control"
                                        asp-items="@(new SelectList(@Model.UserRoleList))">
                                </select>
                            </div>
                            <div class="col-md-6" style="text-align: center; top: 30px;">
                                
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block" data-save="modal">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
