@using AceSmokeShop.ViewModel
@model AdminProductViewModel

@{
    ViewData["Title"] = "Add Category";
    Layout = null;
}

<div class="modal fade" tabindex="-1" role="dialog" id="addcategory">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addcategorylbl">Add Category</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true" style="border:none; outline:none">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="CreateCategory" autocomplete="off">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="newcategory.CategoryName"></label>
                                <input type="text" asp-for="newcategory.CategoryName" class="form-control" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block" data-save="modal">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
