@model Product

@{
    ViewData["Title"] = "Edit Product";
    Layout = null;
}

<div class="modal fade" tabindex="-1" role="dialog" id="editProduct">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProductlbl">Edit Product</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true" style="border:none; outline:none">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="EditProduct" autocomplete="off">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                    <input type="hidden" asp-for=@Model.ProductID />
                    <div class="form-group">
                        <div class="row row-cols row-cols-lg g-3 g-lg-3">
                            <div class="col-md-6">
                                <label asp-for="Stock"></label>
                                <input type="text" value=@Model.Stock asp-for="Stock" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="BasePrice"></label>
                                <input type="text" value=@Model.BasePrice asp-for="BasePrice" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="SalePrice"></label>
                                <input type="text" value=@Model.SalePrice asp-for="SalePrice" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Description"></label>
                                <input type="text" value=@Model.Description asp-for="Description" class="form-control" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-save="modal">Edit</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
