@using AceSmokeShop.ViewModel
@model OrderViewModel

@{
    ViewData["Title"] = "Cancel Order";
    Layout = null;
}

<div class="modal fade" tabindex="-1" role="dialog" id="cancelorder">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelorderlbl">Cancel Order</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true" style="border:none; outline:none">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="CancelOrder" method="post">
                    <input type="hidden" asp-for="@Model.OrderSelectId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <Label>Select Reason</Label>
                                <select id="CancelReason" class="form-select"
                                    asp-items="@(new SelectList(@Model.CancelOrderStatus))"></select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
    </script>
}