@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container-fluid" style="padding: 0rem 7rem;">
    <h1>@ViewData["Title"]</h1>
    <hr/>
    <p>Use this page to detail your site's privacy policy.</p>
</div>
